@model ProjetoFinal.Models.RegistroManutencao

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RegistroManutencao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DataManutencao" class="control-label"></label>
                <input asp-for="DataManutencao" class="form-control" />
                <span asp-validation-for="DataManutencao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataPrevisao" class="control-label"></label>
                <input asp-for="DataPrevisao" class="form-control" />
                <span asp-validation-for="DataPrevisao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComputadorId" class="control-label"></label>
                <select asp-for="ComputadorId" class="form-control" asp-items="ViewBag.ComputadorId"></select>
                <span asp-validation-for="ComputadorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcedimentoId" class="control-label"></label>
                <select asp-for="ProcedimentoId" class="form-control" asp-items="ViewBag.ProcedimentoId"></select>
                <span asp-validation-for="ProcedimentoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
