@model ProjetoFinal.Models.Secao

@{
    ViewData["Title"] = "Cadastrar Seção";
}

<p class="display-6 mt-3">Cadastrar</p>

<h4>Seção</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group d-grid gap-2 d-md-block">
                <a asp-action="Index" class="btn btn-outline-secondary btn-sm">Voltar</a>
                <input type="submit" value="Cadastrar" class="btn btn-primary btn-sm" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
