@model ProjetoFinal.Models.Computador

@{
    ViewData["Title"] = "Cadastrar Computador";
}

<p class="display-6 mt-3">Cadastrar</p>

<h5>Computador</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumPatrimonio" class="control-label">Nr Patrimônio</label>
                <input asp-for="NumPatrimonio" class="form-control" />
                <span asp-validation-for="NumPatrimonio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoComputadorId" class="control-label">Tipo</label>
                <select asp-for="TipoComputadorId" class="form-select" asp-items="ViewBag.TipoComputadorId">
                    <option>Selecione</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="MarcaId" class="control-label">Marca</label>
                <select asp-for="MarcaId" class="form-select" asp-items="ViewBag.MarcaId">
                    <option>Selecione</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label">Descrição</label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="SecaoId" class="control-label">Seção</label>
                <select asp-for="SecaoId" class="form-select" asp-items="ViewBag.SecaoId">
                    <option>Selecione</option>
                </select>
            </div>
            <div class="form-group d-grid gap-2 d-md-block">
                <a asp-action="Index" class="btn btn-outline-secondary btn-sm">Voltar</a>
                <input type="submit" value="Cadastrar" class="btn btn-primary btn-sm" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
